<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>For getting weather of a particular day: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
    <p>For getting weather for all days at one station: http://127.0.0.1:5000/api/v1/12</p>
    <p>For getting weather of an entire year: http://127.0.0.1:5000/api/v1/yearly/12/1988 </p>
    <p>{{data|safe}}</p>
    
</body>
</html>